* {
  /* 
  Modelo border-box, para que el tamaño de elementos no sea modificado por propiedades como margin, padding, border, entre otras. 
  */
  box-sizing: border-box;

  /* Cambiar el tipo de fuente predeterminada. */
  /*
   * En este caso, el tipo de fuentes es sans-serif, por lo que no es muy
   * decorada. Es más plana.
   * 
   * */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
  margin: 0;
}

/** 
 * En `:root` definimos las variables que queramos utilizar de forma global, ya 
 * que así, son accesibles desde cualquier lugar.
 * */
:root {
  /* Colores de bordes. */
  --border-color: #dee2e6;

  /** 
   * Definimos el color primario. 
   * No definir colores que no se vean bien, como amarillos chillones o del
   * estilo.
   * 
   * - Algunos colores los utilizamos porque ya los tenemos como relacionados
   * con un cierto tipo de datos, alertas o situaciones.
   * - PARA NUESTRAS PÁGINAS LA IDEA ES QUE DEFINAMOS TODOS LOS COLORES Y
   * SOLAMENTE LES HAGAMOS REFERENCIA.
   * */
  --color-primary: #0d6efd;
  --color-secondary: #adb5bd;
  /* Verde porque ya así identificamos lo que sale bien. */
  --color-success: #198754;
  --color-info: #17a2b8;
  --color-warning: #ffc107;
  --color-danger: #dc3445;
  --color-light: #f8f9fa;
  --color-dark: #343a40;

  /** 
   * - BOTONES ---
   * Podemos hacer versiones más claras y más oscuras de cada uno de los
   * colores. Esto ayuda para los botones, por ejemplo.
   * 
   *    --color-tipo-darked
   * 
   * - TABLAS ---
   * En lugar de aplicar colores más oscuros a los elementos como en el caso de 
   * los botones, se aplican colores más claros. Esto se puede ver en Bootstrap.
   * 
   *    --color-tipo-clear
   * 
   * */
  --color-primary-darked: #0c4fb3;
  --color-primary-clear: #5d97ec;

  --color-secondary-darked: #8f959b;
  --color-secondary-clear: #adb5bd;

  --color-success-darked: #115837;
  --color-success-clear: #568f74;

  --color-info-darked: #127d8d;
  --color-info-clear: #70b3bd;

  --color-warning-darked: #c7980b;
  --color-warning-clear: #ffe28a;

  --color-danger-darked: #af2835;
  --color-danger-clear: #df7e87;

  /** 
   * Para los colores light y dark prefiere hacer una excepción respecto a 
   * poner un nuevo color con la modalidad ´clear.´ 
   * */
  --color-light-darked: #c9caca;

  --color-dark-darked: hsl(210, 11%, 11%);

  /**
   *  Padding del contenedor como variable para que aplique a los elementos 
   * dependientes de forma automática. 
   * */
  --container-padding: 1em;
}
