/* 
- Tamaños de fuentes:
  - 2em: 21.44px
  - 1.5em: 19,92px
*/

/* Estilos que se aplican por defecto a todos estos elementos. */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  /**
   *  Tamaño máximo del ancho, por lo que la línea se va a partir si se supera
   * el tamaño.
   * */
  max-width: 0.5em;
  /* font-weight: 500; */
  font-weight: bold;
  line-height: 1;
}

p {
  margin-top: 0;
}

/** 
 * Copiamos las etiquetas de headings y sus estilos para las clases.
 * - Para cuando queremos darle un mismo estilo a un texto y que el navegador no
 * 
 * lo detecte semánticamente como tal.
*/
.antiguo-h1 {
  /* Declaración de variables. */
  --font-size: 2em;

  display: block;
  font-size: var(--font-size, 2em);
  font-weight: bold;
  /* Función calc para hacer cálculos. */
  margin-bottom: calc(var(--font-size, 2em) * 0.09);
}

/**
 * Títulos
 * 
 * Hay que ponerlos como clase para que no tengan valor semántico en el sitio y
 * solamente se le aplique el estilo.
  */

h1,
.h1 {
  font-size: 2.5em;
}
h2,
.h2 {
  font-size: 2em;
}
h3,
.h3 {
  font-size: 1.75em;
}
h4,
.h4 {
  font-size: 1.5em;
}
h5,
.h5 {
  font-size: 1.25em;
}
h6,
.h6 {
  font-size: 1em;
}

/* Display de tamaños de los textos. */
.display-1 {
  font-size: 6em;
  font-weight: 300;
  line-height: 1em;
}

.display-2 {
  font-size: 5.5em;
  font-weight: 300;
  line-height: 1em;
}
.display-3 {
  font-size: 4.5em;
  font-weight: 300;
  line-height: 1em;
}
.display-4 {
  font-size: 3.5em;
  font-weight: 300;
  line-height: 1em;
}

/* Textos y su importancia. */

.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-success {
  color: var(--color-success);
}
.text-info {
  color: var(--color-info);
}
.text-warning {
  color: var(--color-warning);
}
.text-danger {
  color: var(--color-danger);
}
.text-light {
  color: var(--color-light);
}
.text-dark {
  color: var(--color-dark);
}
