/* Colores de fondo utilizando colores definidos como variables. */

.bg-primary {
  background-color: var(--color-primary);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-success {
  background-color: var(--color-success);
}
.bg-info {
  background-color: var(--color-info);
}
.bg-warning {
  background-color: var(--color-warning);
}
.bg-danger {
  background-color: var(--color-danger);
}
.bg-light {
  background-color: var(--color-light);
}
.bg-dark {
  background-color: var(--color-dark);
}

/* --------------------------------- BORDES --------------------------------- */

.border {
  /**
   * Al manejar border en nuestra página, suelen utilizarse para marcar
   * diferencias entre elementos, pero queremos que sean border con solores
   * suaves.
   * 
   * - Que se vea borde, pero que no sea muy perceptible.
   * */
  border: var(--border-color);
}

.border-top {
  border-top: var(--border-color);
}
.border-bottom {
  border-bottom: var(--border-color);
}
.border-right {
  border-right: var(--border-color);
}
.border-left {
  border-left: var(--border-color);
}

/* Bordes, pero con tamaño 0, para quitarlos cuando pongamos la clase. */
.border-0 {
  border: 0;
}
.border-top-0 {
  border-top: 0;
}
.border-right-0 {
  border-right: 0;
}
.border-bottom-0 {
  border-bottom: 0;
}
.border-left-0 {
  border-left: 0;
}
